.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.user-container h2 {
  color: white;
}

.user-container .filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.user-container .filters input,
.user-container .filters select {
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #007bff;
}

.user-container .book-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.user-container .book-card {
  padding: 15px;
  background: linear-gradient(to bottom right, #e8deea, #f18282);
  text-align: center;
  position: relative;
  display: flex;
  min-width: 300px;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%; /* Ensures all cards have equal height */
}

.user-container .btnns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto; /* Pushes buttons to the bottom */
  padding-top: 10px; /* Adds some space above */
}

.user-container .book-card button {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #007bff;
}

.user-container .heart-icon {
  font-size: 20px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.user-container .heart-icon:hover {
  opacity: 0.7;
}

/* Popup overlay with blur effect */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.user-container .book-popup {
  position: relative;
  background: linear-gradient(to bottom right, #e8deea, #788cb3);
  text-align: center;
  padding: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
  max-width: 500px;
  width: 90%;
}

.user-container .popup-content {
  text-align: center;
}

.user-container .popup-content button {
  margin-top: 10px;
  padding: 8px 15px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.user-container .popup-content button:hover {
  background: #0056b3;
}

.user-container .pagination {
  margin-top: 20px;
}

.user-container .pagination button {
  padding: 8px 15px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  background: #007bff;
  color: white;
  border-radius: 5px;
}
.user-container .pagination button:hover {
color: #007bff;
}

.user-container .pagination button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

/* Add a class for the body when popup is open */
body.popup-open {
  overflow: hidden; /* Prevents scrolling when popup is open */
}