.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    top: 0;
    margin: auto;
    position: fixed;
    width: 100%;
    z-index: 1000;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .navbar .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar .nav-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
  .navbar .logout-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .navbar .logout-btn:hover {
    background-color: darkred;
  }